
@font-face {
  font-family: 'iconfont';  /* project id 1013008 */
  src: url('https://at.alicdn.com/t/font_1013008_plomz6wes6d.eot');
  src: url('https://at.alicdn.com/t/font_1013008_plomz6wes6d.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1013008_plomz6wes6d.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1013008_plomz6wes6d.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1013008_plomz6wes6d.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1013008_plomz6wes6d.svg#iconfont') format('svg');
}



.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e600";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-jiantou-copy:before {
  content: "\e667";
}

.icon-jiantou:before {
  content: "\e6b5";
}
